@using ShadowBlog.Models
@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Home Page";
}


<!-- Banner Area Start-->
<section class="banner-area">
    <div class="banner-slider owl-carousel">
        <div class="item" style="background: url(assets/img/banner/slider-1.jpg)">
            <div class="banner-inner">
                <h4>Dev Blog</h4>
                <h2>How To: [DEV BLOGPOST TITLE]</h2>
                <a href="single.html" class="btn readmore-button">Read more</a>
            </div>
        </div>
        <div class="item" style="background: url(assets/img/banner/slider-2.jpg)">
            <div class="banner-inner">
                <h4>Dev Blog</h4>
                <h2>How To: [DEV BLOGPOST TITLE]</h2>
                <a href="single.html" class="btn readmore-button">Read more</a>
            </div>
        </div>
        <div class="item" style="background: url(assets/img/banner/slider-1.jpg)">
            <div class="banner-inner">
                <h4>Dev Blog</h4>
                <h2>How To: [DEV BLOGPOST TITLE]</h2>
                <a href="single.html" class="btn readmore-button">Read more</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- latest post Area Start-->
<section class="latest-post-area pd-top-115 pd-bottom-110">
    <div class="container">
        <div class="row">
            @foreach (var blogPost in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="thumb pb-lg-3 pb-5">
                        <img class="w-100" src="assets/img/post/1.jpg" alt="img">
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h4><a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@blogPost.Id">@blogPost.Title</a></h4>
                            <p>@blogPost.Abstract</p>
                            <div class="post-meta">
                                <ul>
                                    <li>By</li>
                                    <li><a href="#">Jordan Hopps</a></li> @*Add link to take them to my portfolio*@
                                    <li>@blogPost.Created.ToString("MMM dd, yyyy")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12 text-center mt-5">
                <a class="btn btn-gray-border" href="home-2.html">LOAD MORE POSTS</a>
            </div>
        </div>
    </div>
</section>
<!-- latest post Area End -->
<!-- instagram Area Start-->
<div class="instagram-area">
    <div class="instagram-slider owl-carousel">
        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/1.jpg" alt="img">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/2.jpg" alt="img">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/3.jpg" alt="img">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/4.jpg" alt="img">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/5.jpg" alt="img">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="assets/img/instagram/6.jpg" alt="img">
            </a>
        </div>
    </div>
</div>
<!-- instagram Area End -->