@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<div style="padding-top: 3rem!important; padding-bottom: 10rem!important">
    <div class="text-center">

        <h1>@ViewData["Title"]</h1>
        <p>
            Thank you for registering with my blog! I hope you'll enjoy the articles as much as I have authoring them.
        </p>
    </div>
</div>