@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div style="padding-top: 3rem!important; padding-bottom: 10rem!important">
    <div class="text-center">
        <header>
            <h1>@ViewData["Title"]</h1>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="btn btn-dark text-end nav-link btn-link">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }
        </header>
        </div>
    </div>
