@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div style="padding-top: 3rem!important; padding-bottom: 10rem!important">
    <div class="text-center">

        <h1>@ViewData["Title"]</h1>
        @{
            if (@Model.DisplayConfirmAccountLink is false)
            {
                <h6>
                    This app does not currently have a real email sender registered.
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </h6>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
        </div>
</div>